DATABASE_URL="postgresql://user:password@host:5432/dbname?pgbouncer=true"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
OPENAI_API_KEY="sk-..."
NEXT_PUBLIC_SENTRY_DSN="https://your-dsn@sentry.io/project-id"
