-- Phase 1 system-of-record
-- Manual migration
-- Safe: creates new enum/tables/indexes/fks only

CREATE TYPE "AcademicEnrollmentStatus" AS ENUM (
  'ACTIVE',
  'PROMOTED',
  'GRADUATED',
  'TRANSFERRED'
);

CREATE TABLE "AcademicYear" (
  "id" TEXT NOT NULL,
  "schoolId" TEXT NOT NULL,
  "yearLabel" TEXT NOT NULL,
  "startDate" TIMESTAMP(3) NOT NULL,
  "endDate" TIMESTAMP(3) NOT NULL,
  "isActive" BOOLEAN NOT NULL DEFAULT false,
  "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT "AcademicYear_pkey" PRIMARY KEY ("id")
);

CREATE TABLE "Term" (
  "id" TEXT NOT NULL,
  "academicYearId" TEXT NOT NULL,
  "name" TEXT NOT NULL,
  "startDate" TIMESTAMP(3) NOT NULL,
  "endDate" TIMESTAMP(3) NOT NULL,
  "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT "Term_pkey" PRIMARY KEY ("id")
);

CREATE TABLE "AcademicEnrollment" (
  "id" TEXT NOT NULL,
  "studentId" TEXT NOT NULL,
  "schoolId" TEXT NOT NULL,
  "academicYearId" TEXT NOT NULL,
  "grade" INTEGER NOT NULL,
  "status" "AcademicEnrollmentStatus" NOT NULL DEFAULT 'ACTIVE',
  "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT "AcademicEnrollment_pkey" PRIMARY KEY ("id")
);

CREATE TABLE "Transcript" (
  "id" TEXT NOT NULL,
  "studentId" TEXT NOT NULL,
  "schoolId" TEXT NOT NULL,
  "academicYearId" TEXT NOT NULL,
  "grade" INTEGER NOT NULL,
  "gpa" DOUBLE PRECISION,
  "summary" JSONB,
  "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT "Transcript_pkey" PRIMARY KEY ("id")
);

CREATE INDEX "AcademicYear_schoolId_isActive_idx"
ON "AcademicYear"("schoolId", "isActive");

CREATE INDEX "AcademicYear_schoolId_startDate_idx"
ON "AcademicYear"("schoolId", "startDate");

CREATE UNIQUE INDEX "AcademicYear_schoolId_yearLabel_key"
ON "AcademicYear"("schoolId", "yearLabel");

CREATE INDEX "Term_academicYearId_startDate_idx"
ON "Term"("academicYearId", "startDate");

CREATE UNIQUE INDEX "Term_academicYearId_name_key"
ON "Term"("academicYearId", "name");

CREATE INDEX "AcademicEnrollment_schoolId_academicYearId_status_idx"
ON "AcademicEnrollment"("schoolId", "academicYearId", "status");

CREATE INDEX "AcademicEnrollment_studentId_academicYearId_idx"
ON "AcademicEnrollment"("studentId", "academicYearId");

CREATE UNIQUE INDEX "AcademicEnrollment_studentId_schoolId_academicYearId_key"
ON "AcademicEnrollment"("studentId", "schoolId", "academicYearId");

CREATE INDEX "Transcript_schoolId_academicYearId_idx"
ON "Transcript"("schoolId", "academicYearId");

CREATE INDEX "Transcript_studentId_createdAt_idx"
ON "Transcript"("studentId", "createdAt");

CREATE UNIQUE INDEX "Transcript_studentId_academicYearId_key"
ON "Transcript"("studentId", "academicYearId");

ALTER TABLE "AcademicYear"
ADD CONSTRAINT "AcademicYear_schoolId_fkey"
FOREIGN KEY ("schoolId") REFERENCES "School"("id")
ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE "Term"
ADD CONSTRAINT "Term_academicYearId_fkey"
FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id")
ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE "AcademicEnrollment"
ADD CONSTRAINT "AcademicEnrollment_studentId_fkey"
FOREIGN KEY ("studentId") REFERENCES "Student"("id")
ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE "AcademicEnrollment"
ADD CONSTRAINT "AcademicEnrollment_schoolId_fkey"
FOREIGN KEY ("schoolId") REFERENCES "School"("id")
ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE "AcademicEnrollment"
ADD CONSTRAINT "AcademicEnrollment_academicYearId_fkey"
FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id")
ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE "Transcript"
ADD CONSTRAINT "Transcript_studentId_fkey"
FOREIGN KEY ("studentId") REFERENCES "Student"("id")
ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE "Transcript"
ADD CONSTRAINT "Transcript_schoolId_fkey"
FOREIGN KEY ("schoolId") REFERENCES "School"("id")
ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE "Transcript"
ADD CONSTRAINT "Transcript_academicYearId_fkey"
FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id")
ON DELETE CASCADE ON UPDATE CASCADE;