-- CreateEnum
CREATE TYPE "AcademicEnrollmentStatus" AS ENUM ('ACTIVE', 'PROMOTED', 'GRADUATED', 'TRANSFERRED');

-- DropForeignKey
ALTER TABLE "AssignmentSuggestion" DROP CONSTRAINT "AssignmentSuggestion_schoolId_fkey";

-- DropForeignKey
ALTER TABLE "Attendance" DROP CONSTRAINT "Attendance_markedById_fkey";

-- DropForeignKey
ALTER TABLE "CurriculumUnit" DROP CONSTRAINT "CurriculumUnit_createdById_fkey";

-- DropForeignKey
ALTER TABLE "CurriculumUnit" DROP CONSTRAINT "CurriculumUnit_schoolId_fkey";

-- DropForeignKey
ALTER TABLE "LabSession" DROP CONSTRAINT "LabSession_schoolId_fkey";

-- DropForeignKey
ALTER TABLE "LabSession" DROP CONSTRAINT "LabSession_studentId_fkey";

-- DropIndex
DROP INDEX "AssignmentSubmission_turnedInAt_assignmentId_idx";

-- DropIndex
DROP INDEX "Attendance_studentId_date_idx";

-- DropIndex
DROP INDEX "curriculum_content_embedding_idx";

-- DropIndex
DROP INDEX "rag_chunk_embedding_idx";

-- DropIndex
DROP INDEX "StudentMasteryProfile_studentId_lastAssessedAt_idx";

-- DropIndex
DROP INDEX "TeacherAssignment_teacherId_classId_subject_key";

-- DropIndex
DROP INDEX "Timetable_classId_dayOfWeek_idx";

-- DropIndex
DROP INDEX "VirtualLab_status_grade_schoolId_idx";

-- AlterTable
ALTER TABLE "AssignmentSuggestion" ALTER COLUMN "moeStandardCodes" DROP DEFAULT;

-- AlterTable
ALTER TABLE "Attendance" ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "CurriculumUnit" ALTER COLUMN "targetStandardCodes" DROP DEFAULT,
ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "Exam" ADD COLUMN     "academicYearId" TEXT,
ADD COLUMN     "classId" TEXT,
ADD COLUMN     "publishedAt" TIMESTAMP(3),
ADD COLUMN     "resultsPublishedAt" TIMESTAMP(3);

-- AlterTable
ALTER TABLE "ExamAttempt" ADD COLUMN     "durationSeconds" INTEGER,
ADD COLUMN     "integrityMetadata" JSONB,
ADD COLUMN     "submissionLog" JSONB,
ADD COLUMN     "tabSwitchCount" INTEGER NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "RagChunk" ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "TeacherAssignment" DROP COLUMN "subjectId",
DROP COLUMN "subjectName",
ADD COLUMN     "subject" "Subject" NOT NULL,
ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "Timetable" DROP COLUMN "subjectId",
DROP COLUMN "subjectName",
ADD COLUMN     "subject" "Subject" NOT NULL,
ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "VirtualLab" ALTER COLUMN "moeStandardCodes" DROP DEFAULT,
ALTER COLUMN "primaryContentIds" DROP DEFAULT,
ALTER COLUMN "triggerStandardCodes" DROP DEFAULT,
ALTER COLUMN "equipmentList" DROP DEFAULT,
ALTER COLUMN "updatedAt" DROP DEFAULT;

-- DropTable
DROP TABLE "TrendSnapshot";

-- CreateTable
CREATE TABLE "AcademicYear" (
    "id" TEXT NOT NULL,
    "schoolId" TEXT NOT NULL,
    "yearLabel" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AcademicYear_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Term" (
    "id" TEXT NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Term_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AcademicEnrollment" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "schoolId" TEXT NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "grade" INTEGER NOT NULL,
    "status" "AcademicEnrollmentStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AcademicEnrollment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Transcript" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "schoolId" TEXT NOT NULL,
    "academicYearId" TEXT NOT NULL,
    "grade" INTEGER NOT NULL,
    "gpa" DOUBLE PRECISION,
    "summary" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Transcript_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "AcademicYear_schoolId_isActive_idx" ON "AcademicYear"("schoolId", "isActive");

-- CreateIndex
CREATE INDEX "AcademicYear_schoolId_startDate_idx" ON "AcademicYear"("schoolId", "startDate");

-- CreateIndex
CREATE UNIQUE INDEX "AcademicYear_schoolId_yearLabel_key" ON "AcademicYear"("schoolId", "yearLabel");

-- CreateIndex
CREATE INDEX "Term_academicYearId_startDate_idx" ON "Term"("academicYearId", "startDate");

-- CreateIndex
CREATE UNIQUE INDEX "Term_academicYearId_name_key" ON "Term"("academicYearId", "name");

-- CreateIndex
CREATE INDEX "AcademicEnrollment_schoolId_academicYearId_status_idx" ON "AcademicEnrollment"("schoolId", "academicYearId", "status");

-- CreateIndex
CREATE INDEX "AcademicEnrollment_studentId_academicYearId_idx" ON "AcademicEnrollment"("studentId", "academicYearId");

-- CreateIndex
CREATE UNIQUE INDEX "AcademicEnrollment_studentId_schoolId_academicYearId_key" ON "AcademicEnrollment"("studentId", "schoolId", "academicYearId");

-- CreateIndex
CREATE INDEX "Transcript_schoolId_academicYearId_idx" ON "Transcript"("schoolId", "academicYearId");

-- CreateIndex
CREATE INDEX "Transcript_studentId_createdAt_idx" ON "Transcript"("studentId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Transcript_studentId_academicYearId_key" ON "Transcript"("studentId", "academicYearId");

-- CreateIndex
CREATE INDEX "Attendance_markedById_date_idx" ON "Attendance"("markedById", "date");

-- CreateIndex
CREATE INDEX "Exam_schoolId_status_grade_idx" ON "Exam"("schoolId", "status", "grade");

-- CreateIndex
CREATE INDEX "Exam_academicYearId_classId_idx" ON "Exam"("academicYearId", "classId");

-- CreateIndex
CREATE INDEX "ExamAttempt_examId_submittedAt_idx" ON "ExamAttempt"("examId", "submittedAt");

-- CreateIndex
CREATE UNIQUE INDEX "TeacherAssignment_schoolId_teacherId_classId_subject_key" ON "TeacherAssignment"("schoolId", "teacherId", "classId", "subject");

-- CreateIndex
CREATE UNIQUE INDEX "Timetable_schoolId_classId_dayOfWeek_periodLabel_key" ON "Timetable"("schoolId", "classId", "dayOfWeek", "periodLabel");

-- AddForeignKey
ALTER TABLE "Exam" ADD CONSTRAINT "Exam_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Exam" ADD CONSTRAINT "Exam_classId_fkey" FOREIGN KEY ("classId") REFERENCES "Class"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicYear" ADD CONSTRAINT "AcademicYear_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES "School"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Term" ADD CONSTRAINT "Term_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicEnrollment" ADD CONSTRAINT "AcademicEnrollment_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicEnrollment" ADD CONSTRAINT "AcademicEnrollment_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES "School"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicEnrollment" ADD CONSTRAINT "AcademicEnrollment_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transcript" ADD CONSTRAINT "Transcript_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transcript" ADD CONSTRAINT "Transcript_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES "School"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transcript" ADD CONSTRAINT "Transcript_academicYearId_fkey" FOREIGN KEY ("academicYearId") REFERENCES "AcademicYear"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attendance" ADD CONSTRAINT "Attendance_markedById_fkey" FOREIGN KEY ("markedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CurriculumUnit" ADD CONSTRAINT "CurriculumUnit_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES "School"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CurriculumUnit" ADD CONSTRAINT "CurriculumUnit_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssignmentSuggestion" ADD CONSTRAINT "AssignmentSuggestion_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES "School"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LabSession" ADD CONSTRAINT "LabSession_schoolId_fkey" FOREIGN KEY ("schoolId") REFERENCES "School"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LabSession" ADD CONSTRAINT "LabSession_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

